@model CustomerRecords.Entity.Customer

@{
    ViewBag.Title = "Create";
}

@*<h2>Create</h2>*@
@using (Html.BeginForm("Create", "Home", FormMethod.Post))
{

    @*Html.RenderPartial("_Create", Model);

    <button type="submit" class="btn btn-primary">Save</button>
    <button onclick="location.href='@Url.Action("Customers", "Home")';return false;">Cancel</button>*@


    <div class="panel panel-primary">

        <div class="panel-heading"><h3>Create New Customer</h3></div>
        <div class="panel-body">
            @{
                Html.RenderPartial("_Create", Model);
            }
                
        </div>

        <div class="panel-footer">
            <button type="submit" class="btn btn-primary">Save</button>
            <button class="btn btn-default" onclick="location.href='@Url.Action("Customers", "Home")';return false;">Cancel</button>
        </div>
    </div>
  
}

